@charset "ISO-8859-1";
.container {
	box-shadow: 0px 0px 0px 0px rgba(32, 31, 31, 0.5);
	width: 100%;
    height: 20vh;
    margin-bottom: 40;
}
.card{
margin-left: 90Px;
}
.col-sm-6 {
        flex: 0 0 auto;
        width: 49%;
       

.col-6 {
    flex: 0 0 auto;
    width: 70%;
    font-family: math;
    color:red;
   }
.bg-danger{
width: 123%;
    height: 44%;
	
}
.container-fluid{
box-shadow:  0px 0px 5px 0px rgba(32, 31, 31, 0.5);
    margin-top: -6px;
}
     .navbar-nav {
        flex-direction: row;
        margin-left: 244px;
    }
    .carousel-inner {
    
    width: 200%;
    height: 450px;
}
    .carousel-control-prev{
    margin-left: 200px;
    
    }
    .carousel-control-next{
    margin-right: -300px;}
    .carousel-indicators{
    margin-right:-350px;
    }
    .row{
    margin-left: 200px;
    text-align: center;
    }
    .solid-border{
  border-color: orange;
  border-width: 3px;
  border-bottom-style: solid ;
}
.glyphicon{
margin-left: -49px}